enable_failover: {{ prism_ha_failover_enabled }}
{% if prism_desired_ha_state == "BestEffort" %}
num_host_failures_to_tolerate: 0
{% else %}
reservation_type: "{{ prism_ha_reservation_type }}"
num_host_failures_to_tolerate: {{ prism_ha_host_failures }}
{% endif %}
